/app/dev/*
!/app/dev/README.md
/app/prod/*
!/app/prod/README.md
/app/test/*
!/app/test/README.md

/vendor/

/logs/*
!/logs/README.md

/phpunit.xml

/composer.phar
/composer.lock

/.idea
/.project

*DS_Store

*.swp
*.swo
*.swn
